.ff-zen-kaku-gothic-500 {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 500;
}

.ff-zen-kaku-gothic-700 {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 700;
}

.ff-zilla-slab-700 {
  font-family: "Zilla Slab", serif;
  font-weight: 700;
}

.ff-zilla-slab-700-italic {
  font-family: "Zilla Slab", serif;
  font-weight: 700;
  font-style: italic;
}

.ff-open-sans-400 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.ff-open-sans-700 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}