@use '../mixin';

:root {
  --green: #53C197;
  --blue: #7A9AC9;
  --sky-blue: #9CD5EA;
  --yellow: #F3E84D;
  --orange: #F0A15E;
  --purple: #C9B1DF;
  --accent-orange: #FF6D38;

  --black: #141414;
  --white: #fefefe;
  --gray: #EBE7E7;

  --container-size: 1620px;
  --container-padding: 60px;
}