@use '../mixin';

:root {
  --green: #53C197;
  --blue: #7A9AC9;
  --sky-blue: #9CD5EA;
  --yellow: #F3E84D;
  --orange: #F0A15E;
  --purple: #C9B1DF;
  --accent-orange: #FF6D38;
  --components-purple: #E3E0F9;

  --green-dark: #3CA57D;
  --blue-dark:  #5C7DB0;
  --yellow-dark: #D18700;
  --orange-dark: #F54900;
  --red-dark:    #E8000B;


  --black: #141414;
  --white: #fefefe;
  --gray: #EBE7E7;

  --code-bg: #25292f;

  --container-size: 1620px;
  --container-padding: 60px;
}

@include mixin.mobile {
  :root {
    --container-padding: 15px;
  }
}